h2 {
    color: #0D6EfD;
    font-family: 'Montserrat';
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    border-bottom: 1px solid #0D6EfD;
    text-transform: uppercase;
}

